@model IEnumerable<newAdmin.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<style>
    body {
        background-color: background: #2C3E50; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #4CA1AF, #2C3E50); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;
    }
</style>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nameusuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nameusuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idusuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idusuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idusuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
